body {
    background-image: url('../img/fondo.jpg'); /* Ruta de tu imagen de fondo */
    background-repeat: no-repeat; /* Evita que la imagen de fondo se repita */
    background-size: cover; /* Ajusta la imagen de fondo para que cubra todo el elemento body */
    background-attachment: fixed; /* Mantiene la imagen de fondo fija mientras se desplaza */
  }
  